# dev
.yarn/
!.yarn/releases
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf

# deps
node_modules/
.wrangler

# env
.env
.env.production
.dev.vars 

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# misc
.DS_Store

# AI moudles
AGENTS.md

# Avoid Bun being auto-selected by CI (root only)
/bun.lockb

# local build output
/server.bundle.mjs
/dist/
/index.json
/geoip-index.json
/data/
